@import "tailwindcss";
@import "@fontsource/nunito-sans";

:root {
  --first-font: "Nunito Sans", sans-serif;
  --width-item-slider: 200px;
  --height-item-slider: 50px;
  --quantity-items-slider: 6;
}

@theme {
  --color-primary: #faf3e1;
  --color-custom-yellow: #ffc309;
  --color-custom-black: #373737;
  --color-custom-blue: #9bd3d0;
  --color-custom-orange: #feccb5;
  --color-custom-blue-draker: #171133;
  --color-custom-blue-darker-2: #4c4a66;
  --font-nunito-sans: var(--first-font);
}

body {
  @apply bg-primary text-custom-black;
}

.slider {
  width: 100%;
  height: var(--height-item-slider);
  background-color: var(--color-custom-black);
  overflow: hidden;
}

.slider .list-slider {
  display: flex;
  width: 100%;
  margin-top: .5rem;
  min-width: calc(var(--width-item-slider) * var(--quantity-items-slider));
  position: relative;
}

.slider .item-slider {
  width: var(--width-item-slider);
  height: var(--height-item-slider);
  position: absolute;
  left: 100%;
  animation: autorun 5s linear infinite;
  animation-delay: calc(
    (5s / var(--quantity-items-slider)) * (var(--position) - 1)
  );
}

@keyframes autorun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width-item-slider) * -1);
  }
}
