---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import SectionPresentation from '../components/organisms/SectionPresentation.astro';
import SectionServices from '../components/organisms/SectionServices.astro';
import SectionHistory from '../components/organisms/SectionHistory.astro';
import SectionFAQ from '../components/organisms/SectionFAQ.astro';
---

<Layout>
	<main class='w-full min-h-dvh max-w-6xl mx-auto'>
		<SectionPresentation />
		<SectionServices />
		<SectionHistory />
		<SectionFAQ />
	</main>
</Layout>
