---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import SectionPresentation from '../components/organisms/SectionPresentation.astro';
import SectionServices from '../components/organisms/SectionServices.astro';
import SectionContact from '../components/organisms/SectionContact.astro';
import Footer from '../components/molecules/Footer.astro';
---

<Layout>
	<main class='w-full min-h-dvh max-w-6xl mx-auto'>
		<SectionPresentation />
		<SectionServices />
		<SectionContact />
	</main>

	<Footer />
</Layout>
