---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import SectionPresentation from '../components/organisms/SectionPresentation.astro';
import SectionServices from '../components/organisms/SectionServices.astro';
---

<Layout>
	<main class='w-full min-h-dvh max-w-6xl mx-auto'>
		<SectionPresentation />
		<SectionServices />
	</main>

	<footer></footer>
</Layout>
