---
import { Image } from 'astro:assets';

interface Props {
	src: ((_props: astroHTML.JSX.SVGAttributes) => any) & ImageMetadata;
	position?: number;
	label: string;
}

const { label, src, position } = Astro.props;
---

<div
	class='item-slider'
	style={`--position: ${position}`}>
	<Image
		src={src}
		alt={label}
		class='size-32 sm:size-40'
	/>
</div>
