---
import Linkedin from '../../assets/linkedin.svg';
import Instagram from '../../assets/instagram.svg';
import Tiktok from '../../assets/tiktok.svg';
---

<ul class='flex items-center gap-3 font-semibold'>
	<li>
		<a href='#'>
			<Linkedin
				class='size-6'
				fill='#FFFFFF'
			/>
		</a>
	</li>
	<li>
		<a href='#'>
			<Instagram
				class='size-6'
				fill='#FFFFFF'
			/>
		</a>
	</li>
	<li>
		<a href='#'>
			<Tiktok
				class='size-6'
				fill='#FFFFFF'
			/>
		</a>
	</li>
</ul>
