---
import SliderItem from '../atoms/SliderItem.astro';
import { TECHNOLOGIES } from '../../constants/technologies';
---

<div class='slider'>
	<div class='list-slider'>
		{
			TECHNOLOGIES.map(({ name, position, icon }) => (
				<SliderItem
					src={icon}
					label={name}
					position={position}
				/>
			))
		}
	</div>
</div>
