---
import HeroImage from '../../assets/frame-1.png';
import { Image } from 'astro:assets';
import Slider from '../../components/molecules/Slider.astro';
---

<section class='space-y-5'>
	<div
		class='flex flex-col items-center min-[1100px]:items-start min-[1100px]:flex-row gap-8 p-4 min-[1100px]:py-20 text-custom-blue-draker px-4'>
		<div
			class='md:mt-10 text-center min-[1100px]:text-left space-y-10 max-w-2xl w-full'>
			<div class='space-y-5'>
				<h1 class='text-4xl sm:text-5xl md:text-6xl font-bold'>
					Tu idea, nuestro software. Sin complicaciones.
				</h1>

				<p class='text-base md:text-lg font-semibold text-custom-blue-darker-2'>
					Creamos soluciones digitales personalizadas a partir de tus
					necesidades. Agenda una reunión o contactanos y empecemos a construir.
				</p>
			</div>

			<a
				href='#'
				class='px-4 py-3 font-semibold bg-custom-yellow rounded-lg text-custom-blue-draker border-2 border-custom-blue-draker before:content-[""] before:absolute before:w-full before:h-full
					before:border-2 before:border-custom-blue-draker before:-z-10 before:bg-custom-blue-draker before:rounded-lg relative before:top-2 before:left-1.5 hover:before:top-0 hover:before:left-0 before:transition-all before:duration-300'
				>¡Iniciemos ahora!</a
			>
		</div>

		<Image
			src={HeroImage}
			alt='Hero Image'
			width={500}
			height={500}
		/>
	</div>

	<Slider />
</section>
