---
import Image from 'astro/components/Image.astro';
import FRAME1 from '../../assets/Frame-1.svg';
import Card from '../molecules/Card.astro';
import Slider from '../molecules/Slider.astro';
import { SERVICES } from '../../constants/services.astro';
---

<section
	class='mt-10 flex flex-col gap-10 md:py-10 px-4 mb-10 w-full'
	id='servicios'>
	<div class='flex flex-col items-center justify-center gap-10'>
		<div
			class='max-w-3xl w-full mx-auto space-y-4 text-center flex flex-col items-center justify-center'>
			<h2 class='text-3xl md:text-4xl font-medium max-w-lg w-full mx-auto'>
				Impulsa tu negocio online con tecnología
			</h2>

			<Image
				src={FRAME1}
				alt='Frame 1'
				width={300}
				height={300}
				class="h-auto'"
			/>
		</div>

		<div
			class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-6xl'>
			{SERVICES.map((props) => <Card {...props} />)}
		</div>
	</div>

	<div class='flex flex-col items-center justify-center gap-8 w-full'>
		<h3
			class='text-primary tracking-[0.4em] font-medium sm:text-lg text-center max-w-xl'>
			Tecnologías que impulsan nuestras soluciones
		</h3>

		<Slider />
	</div>
</section>
