---
import { Navbar } from '../components/molecules/Navbar.tsx';
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/logo.svg'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>Ricm Tech</title>
	</head>
	<body>
		<Navbar client:load />
		<slot />
	</body>
</html>
