---
import { Navbar } from '../components/molecules/Navbar.tsx';
import '@fontsource-variable/rubik';
---

<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/logo.svg'
		/>
		<title>Ricm Tech | Desarrollo de Software y Soluciones Digitales</title>
		<meta
			name='description'
			content='Ricm Tech es una empresa de desarrollo de software que crea soluciones digitales innovadoras: sitios web, aplicaciones y sistemas a medida para potenciar tu negocio.'
		/>
		<meta
			name='keywords'
			content='Ricm Tech, desarrollo de software, diseño web, aplicaciones, tecnología, soluciones digitales, desarrollo frontend, backend'
		/>
		<meta
			name='author'
			content='Ricm Tech'
		/>
		<link
			rel='canonical'
			href='https://ricmtech.dev/'
		/>
		<meta
			name='robots'
			content='index, follow'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>Ricm Tech</title>
	</head>
	<body>
		<Navbar client:load />
		<slot />
	</body>
</html>; ---
